# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.cmd
*.lib

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Project files #
#################
*.sln
*.vcproj
*.ncb
*.rsp
*.obj
*.pdb
*.htm
*.idb